rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /member/{memberID} {
    	allow read, write: if memberID == request.auth.uid;
    }
  }
}
