$c-primary: #9D8B73;
$c-on-primary: #FFFFFF;
$c-secondary: #7B909C;
$c-on-secondary: #FFFFFF;

$c-danger: #ff6b6a;
$c-warning: #ffa100;

$c-dark: #333333;
$c-bright: #FFFFFF;

$c-gray-darker: #333333;
$c-gray-dark: #666666;
$c-gray: #999999;
$c-gray-light: #CCCCCC;
$c-gray-lighter: #F4F4F4;

$c-background: #f2f3f2;

$c-overlay: rgba(0,0,0,0.3);

// Material Design Components Theme Colors
@use 'node_modules/@material/theme' with (
  $primary: $c-primary,
  $on-primary: $c-bright,
  $secondary: $c-secondary,
  $on-secondary: $c-bright,
);
