$c-dark: #333333;
$c-bright: #FFFFFF;

$c-primary: #9D8B73;
$c-primary-dark: #6e5e47;
$c-primary-light: #cebba2;
$c-on-primary: $c-bright;

$c-secondary: #7B909C;
$c-secondary-dark: #4e636e;
$c-secondary-light: #aac0cd;
$c-on-secondary: $c-bright;

$c-danger: #ff6b6a;
$c-warning: #ffa100;

$c-gray-900: black;
$c-gray-800: rgba(0, 0, 0, .8);
$c-gray-700: rgba(0, 0, 0, .6);
$c-gray-600: rgba(0, 0, 0, .4);

$c-background: #f2f3f2;

$c-overlay: rgba(0,0,0,0.3);

// Material Design Components Theme Colors
@use 'node_modules/@material/theme' with (
  $primary: $c-primary,
  $on-primary: $c-bright,
  $secondary: $c-secondary,
  $on-secondary: $c-bright,
);