.login {
	&__banner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
		margin: 0 -15px;;
		padding: 80px 60px 40px;
		background-image: url('/static/images/illustration/login-bg.png');
		background-position: bottom;
		background-size: contain;
		background-repeat: no-repeat;
		background-color: $c-primary;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 40px;
		color: $c-bright;
	}

	&__illustration {
		max-width: 100%;
	}

	&__logo {
		align-self: center;
		margin-top: -20px;
		margin-bottom: 40px;

		img {
			width: 160px;
		}

		@include media-breakpoint-down(md) {
			margin-top: 0;
			margin-bottom: 20px;
	
			img {
				width: 120px;
			}
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		max-width: 600px;
		min-height: 100vh;
		margin: 0 auto;
		padding: 80px 40px;

		@media (max-width: 767px) and (max-height: 667px) { // 667 = iPhone8's height
			justify-content: flex-start;
			padding: 40px 20px;
		}
	}
}
