.settings {
	$setting-avatar-width: 120px;

	&__profile-header {
		padding: 24px 24px 0;
		background-image: url('/static/images/illustration/illu-mountains.jpg');
		background-size: cover;
		background-position: bottom;
		border-radius: $border-radius-lg $border-radius-lg 0 0;
	}

	&__profile-avatar {
		position: relative;
		width: $setting-avatar-width;
		height: $setting-avatar-width;
		margin: 0 auto;
		z-index: 1;
		box-shadow: $box-shadow-md;
		transition: box-shadow .3s;
		background-color: $c-bright;

		&:hover {
			box-shadow: $box-shadow-lg;
		}

		> input[type=file] {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			cursor: pointer;
		}
	}

	&__profile-camera {
		position: absolute;
		left: auto;
		right: 4px;
		bottom: 4px;
		padding: 4px;
		background-color: $c-bright;
		border-radius: 50%;
		color: $c-gray-800;
		font-size: $font-size-md;
		box-shadow: $box-shadow-md;
	}

	&__profile-avatar-loading.mdc-circular-progress {
		@extend %absolute-center;
	}

	&__board {
		margin-bottom: 24px;

		&:first-child {
			@include media-breakpoint-down(lg) {
				margin-top: 24px;
			}
		}
	}
}
