@use "node_modules/@material/fab/mdc-fab";

.fab--sticky {
	display: flex;
	justify-content: flex-end;
	padding: 24px 0 0;
	position: sticky;
	bottom: 0;

	@include media-breakpoint-down(md) {
		padding: 16px;
	}
}
