@use "node_modules/@material/textfield/helper-text";
@include helper-text.helper-text-core-styles;

.mdc-text-field {
	@include helper-text.helper-text-color($c-gray-700);
	@include helper-text.disabled-helper-text-color($c-gray-700);
	@include helper-text.helper-text-validation-color($c-danger);
}
