.settings {
	$setting-avatar-width: 120px;

	&__profile-avatar {
		position: relative;
		width: $setting-avatar-width;
		height: $setting-avatar-width;
		margin: 0 auto -#{$setting-avatar-width / 2};
		z-index: 1;
		box-shadow: $box-shadow-md;
		transition: box-shadow .3s;
		background-color: $c-bright;

		&:hover {
			box-shadow: $box-shadow-lg;
		}

		@include media-breakpoint-down(md) {
			margin: 24px auto -#{$setting-avatar-width + 24px};
		}

		> input[type=file] {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			cursor: pointer;
		}
	}

	&__profile-camera {
		position: absolute;
		left: auto;
		right: 4px;
		bottom: 4px;
		padding: 4px;
		background-color: $c-bright;
		border-radius: 50%;
		color: $c-gray-800;
		font-size: $font-size-md;
		box-shadow: $box-shadow-md;
	}

	&__profile-avatar-loading.mdc-circular-progress {
		@extend %absolute-center;
	}

	&__profile-header {
		height: $setting-avatar-width / 3;

		@include media-breakpoint-down(md) {
			height: $setting-avatar-width + 48px;
			background-image: url('/static/images/illustration/illu-mountains.jpg');
			background-size: cover;
			background-position: bottom;
		}
	}

	&__board {
		margin-bottom: 24px;
		&:first-child {
			margin-top: $setting-avatar-width / 2;
			@include media-breakpoint-down(md) {
				margin-top: 24px;
			}
		}
	}
}
