.splash-screen {
	display: none;
}

@media (display-mode: standalone) {
	/* PWAs */
	.splash-screen {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: $c-primary;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 1;
		visibility: visible;
		z-index: 9999;
		body.app-loaded & {
			opacity: 0;
			visibility: hidden;
			transition:
				opacity 2s ease-out 0s,
				visibility 0s linear 2s;
		}
	}
}
