.main {
	display: flex;
	height: 100vh;
	border-top: 8px solid $c-primary;

	@include media-breakpoint-down(md) {
		border-top: 0;
		height: auto;
		min-height: 100vh;
	}

	.mdc-drawer-app-content {
		flex: auto;
		height: 100%;
	}

	&__content {
		overflow: auto;
		height: 100%;
		padding: 40px 24px 24px;

		@include media-breakpoint-down(md) {
			padding: 0;
			overflow: visible;
		}
	}
}
