.icon-radio {
	display: inline-block;
	position: relative;
	margin: 4px;
	user-select: none;
	cursor: pointer;

	&:hover,
	&:focus,
	&:focus-within {
		.icon-radio__icon {
			background-color: $c-gray-200;
		}
	}

	&__icon {
		padding: 12px;
		border-radius: $border-radius-md;
		color: $c-gray-700;
	}

	[type=radio] {
		position: absolute;
		opacity: 0;
		cursor: pointer;

		&:checked + .icon-radio__icon {
			color: $c-primary-dark;
			background-color: rgba($c-primary, .12);
			box-shadow: 0 0 0 2px rgba($c-primary, .48);
		}
	}

}