.main {
	display: flex;
	height: 100vh;

	@include media-breakpoint-up(lg) {
		border-top: 8px solid $c-primary;
	}

	.mdc-drawer-app-content {
		flex: auto;
		overflow: auto;
		position: relative;
	}

	&__content {
		overflow: auto;
		height: 100%;
		padding: 40px 24px;
	}
}
