@use "node_modules/@material/drawer" with (
	$item-inactive-icon-ink-opacity: .4,
	$item-inactive-text-ink-opacity: .6,
	$item-active-icon-ink-opacity: 1,
	$item-active-text-ink-opacity: 1,
);
@use "node_modules/@material/drawer/mdc-drawer";
@use "node_modules/@material/list/mdc-list";

.mdc-drawer {
	padding: 40px 24px 0;
	border: 0;
	height: 100%;
	@include drawer.width(288px);
	@include drawer.item-icon-ink-color($c-gray-900);
	@include drawer.item-text-ink-color($c-gray-900);
	@include drawer.item-activated-icon-ink-color($c-primary-dark);
	@include drawer.item-activated-text-ink-color($c-primary-dark);
	@include drawer.item-shape-radius(6px);

	@include media-breakpoint-up(lg) {
		background: transparent;
	}

	@include media-breakpoint-down(md) {
		height: auto;
		top: 0;
		bottom: 0;
		padding: 24px 0 0;
	}

	&__header {

		@include media-breakpoint-down(md) {
			margin-bottom: 0;
			padding: 0 16px;
			border-bottom: 1px solid $c-gray-300;
		}
	}

	.mdc-list {
		font-size: $font-size-sm;
	}

	.mdc-list-item {
		padding: 1rem;
		font-weight: 500;

		&__graphic {
			margin-right: 1rem;
		}
	}
}
