// #hack fix body over scroll status bar background color on iOS
#status-bar-background {
	display: none;
	position: fixed;
	top: -50px;
	left: 0;
	width: 100%;
	// must higher then top offset to be rendered
	height: 50.1px;
	background-color: $c-primary;
	z-index: 9999999999;
}
// #hack fix body over scroll background on iOS
#body-over-scroll-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $c-background;
	z-index: -1;
}
@media (display-mode: standalone) {
	/* PWAs */
	#status-bar-background, #body-over-scroll-background {
		display: block;
	}
}
