@use "node_modules/@material/floating-label/mdc-floating-label";
@use "node_modules/@material/line-ripple/mdc-line-ripple";
@use "node_modules/@material/textfield";
@use "node_modules/@material/textfield/icon";

@include textfield.core-styles;
@include icon.icon-core-styles;

.mdc-text-field {
	width: 100%;
	@include textfield.fill-color(transparent);
	@include textfield.placeholder-color($c-gray-600);
	@include textfield.disabled-fill-color(transparent);
	@include textfield.disabled-placeholder-color($c-gray-400);
	@include textfield.disabled-label-color($c-gray-600);
	@include textfield.disabled-ink-color($c-gray-800);
	@include textfield.hover-bottom-line-color($c-primary);

	&--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
		color: $c-primary-dark;
	}

	&__input {
		// Reset style "opacity 0.4" on mobile browser
		opacity: 1;
	}

	&__input:-webkit-autofill {
		font-size: 1rem;
		// #hack remove chrome autofill background color
		transition-delay: 9999999s;
		transition-property: background-color, color;

		// #hack fix initial position
		& + .mdc-floating-label {
			transform: translateY(-106%) scale(.75);
		}
	}
}
