@use "node_modules/@material/floating-label/mdc-floating-label";
@use "node_modules/@material/line-ripple/mdc-line-ripple";
@use "node_modules/@material/textfield";
@use "node_modules/@material/textfield/helper-text";
@use "node_modules/@material/textfield/icon";

@include textfield.core-styles;
@include helper-text.helper-text-core-styles;
@include icon.icon-core-styles;

.mdc-text-field {
	width: 100%;
	@include textfield.fill-color(transparent);
	@include textfield.placeholder-color($c-gray-600);
	@include textfield.disabled-fill-color(transparent);
	@include textfield.disabled-placeholder-color($c-gray-600);
	@include textfield.disabled-ink-color($c-gray-800);
	@include textfield.hover-bottom-line-color($c-primary);
}

.mdc-text-field input:-webkit-autofill {
	// remove chrome autofill background color
	transition-delay: 9999999s;
	transition-property: background-color, color;

}
