@use "node_modules/@material/ripple";
@use "node_modules/@material/list";

@include list.core-styles;

.mdc-list {
	&:not(.mdc-list--non-interactive) {
		> .mdc-list-item:not(.mdc-list-item--disabled) {
			@include ripple.states-opacities((hover: .03, focus: .07, press: .08));
		}
	}
	.mdc-list-item {
		position: relative;

		> select, a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 5;
			opacity: 0;
			cursor: pointer;
		}

		&__text {
			white-space: normal;
			word-break: break-word;
		}
	}
}
